# POKY_BBLAYERS_CONF_VERSION is increased each time build/conf/bblayers.conf
# changes incompatibly
POKY_BBLAYERS_CONF_VERSION = "2"

BBPATH = "${TOPDIR}"
BBFILES ?= ""

BBLAYERS ?= " \
    ${HOME}/yocto/poky/meta \
    ${HOME}/yocto/poky/meta-poky \
    ${HOME}/yocto/meta-openembedded/meta-oe \
    ${HOME}/yocto/meta-openembedded/meta-multimedia \
    ${HOME}/yocto/meta-openembedded/meta-networking \
    ${HOME}/yocto/meta-openembedded/meta-python \
    ${HOME}/yocto/meta-raspberrypi \
    ${HOME}/yocto/yocto-meta-layer \
  "
